{
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "google": true,
    "$":true
    
  },
  "rules": {
    "no-console": "off"
}
}