@font-face {
    font-family: "papafont";
    src: url('../assets/fonts/Knockout-HTF69-FullLiteweight.otf') format("truetype");
  }

// colores
$red-papa: #F20030;
$darkred-papa: #BB141A;
$green-papa: #009774;
$darkgrey-papa: #807673;
$lightgrey-papa: #A39D9B;
$freshgrey-papa: #6B514B;
$disbled-papa: #cfc9c7;

// fuente Papa John's

$papafont : papafont;

  