header {
  text-align: center;
  margin-bottom: 1em;
  // height: 23vh;
  @media (max-width: 340px) {
  //  height: 26vh;
  }
  .header__image {
    width: 128px;
  }

  .header__title {
    background-color: $darkred-papa;
    color: white;
    font-size: 30px;
    padding: 10px;
    font-family: $papafont, sans-serif;
    text-align: center;
    @media (max-width: 340px) {
      font-size: 26px;
     }
  }
}


